body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1e1e2f;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

button {
  background: #10807c;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
}

button:hover {
  background: #063634;
}