body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #06191e;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(222, 231, 231);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: #000000 0px 0px 20px -5px;
}

button {
  background: #10807c;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
}

h1 {
  color: #2eaba4;
}

button:hover {
  background: #063634;
}